body{
  background-color: #000000;
  color: #00ff00;
  font-size: 14px;
  font-family: "Courier";
}

.row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.typewriter{
  position: relative;
}

.typewriter h1.helloWorld{
  position: absolute;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00ff00; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0px;
  width: 100%;
  opacity: 0;
  font-size: 14px;
  font-family: "Courier";
  font-weight: 300;
}